*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0px;
}
.section1{
    width: 100%;
    height: 100vh;
    background-color: #101C26;
}
.insecton1{
    width: 90%;
    height: auto;
    margin: auto;
}
.headerSection1{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ImgLogo1{
    width: 97px;
    height: 67px;
}
.middletext{
    text-decoration: none;
    color: white;
    font-size: 20px;
    color: grey;
}
.middletext:hover{
    text-decoration : underline ;
}
.pHome{
    color: white;
    text-decoration: underline;
}
.middle{
    display: flex;
    align-items: center;
    gap: 30px;
}
.btn1{
    padding: 15px;
    font-size: 19px;
    width: 117px;
    background-color: #101c2600;
    border-radius: 30px;
    border: 1px solid grey;
    color: grey;
}
.btn2{
    padding: 15px;
    font-size: 19px;
    width: 140px;
    background-color: #F0E714;
    border-radius: 30px;
    border: 1px solid grey;
    color: black;
}
.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.part1InSection1{
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftpart1{
    width: 45%;
    margin-top: 50px;
}
.pWe{
    font-size: 60px;
    font-weight: 700;
    width: 80%;
    /* background-color: green; */
}
.pWeAre{
    font-size: 22px;
    width: 55%;
    margin-top: 30px;
    line-height: 1.5;
}
.btn3{
    font-size: 20px;
    background-color: #F0E714;
    padding: 15px;
    width: 200px;
    border-radius: 40px;
}
.imageFrame{
    width: 30px;
}
.frameDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.thirdBlock{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.fourthBlock{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.p20{
    font-size: 60px;
    font-weight: 700;
    color: #F0E714;
    text-align: center;
}
.pYears{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.number1Div{
    width: 200px;
}
.imageRectangle{
    width: 100%;
}
.rightpart1{
    width: 50%;
}
.endOfSection1{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.imageGoogle{
    width: 101px;
}